@import "../../styles/variables";
@import "../../styles/mixins";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // max-width: em(700px);
    max-width: 100vw;
    // height: 100vh;
    background-color: $color-light-grey;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;

    // Filter Block
    .filter {
        width: 25rem;
        height: 55rem;
        overflow: scroll;

        &__blocks {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        &__buttons {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            // Years
            & > * {
                flex-basis: calc(50% - $margin-to-be-deducted);
            }
            > *:last-child {
                margin-right: 0;
            }
        }
        &__labels {
            align-self: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }

    .space-x-data {
        & > * {
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        > :last-child {
            margin-right: 0;
        }
    }

    // Big Desktop
    @include respond(big-desk) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        // width: 100vw;
        // Filter and Data
        .filter {
            flex-basis: 20%;
        }
        .space-x-data {
            flex-basis: 80%;
            display: flex;
            flex-flow: row wrap;
            // Data Cards
            & > * {
                flex-basis: calc(12.5% - $margin-to-be-deducted);
            }
        }
    }

    @include respond(desktop) {
        flex-direction: row;
        align-items: flex-start;
        // width: 90rem;
        // Filter and Data
        .filter {
            flex-basis: 20%;
        }
        .space-x-data {
            flex-basis: 80%;
            display: flex;
            flex-flow: row wrap;
            // Data Cards
            & > * {
                flex-basis: calc(25% - $margin-to-be-deducted);
            }
        }
    }

    @include respond(tablet) {
        flex-direction: row;
        align-items: flex-start;
        // width: 90rem;
        // Filter and Data
        .filter {
            flex-basis: 20%;
        }
        .space-x-data {
            flex-basis: 80%;
            display: flex;
            flex-flow: row wrap;
            // Data Cards
            & > * {
                flex-basis: calc(50% - $margin-to-be-deducted);
            }
        }
    }
}
